
.item {
    width: 100%;
}

.item__tab {
    max-width: 1512px;
    margin: 0 auto;
    padding: 24px 24px 0;
    border-bottom: 2px solid #737373;
}

.item__tab-list {
    display: flex;
    list-style: none;
    padding: 10px 160px;
    margin: 0;
    gap: 40px;
}

.item__tab-item {
    font-size: 20px;
    font-weight: 700;
    padding: 0px 20px;
    color: #666;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: color 0.2s, border-color 0.2s;
}

.item__tab-item a {
    text-decoration: none;
    color: inherit;
}

.item__tab-item:hover {
    color: #333;
}

.item__tab-item.is-active {
    color: #e74c3c;
}

.item__content {
    max-width: 1540px;
    margin: 0 auto;
    padding: 60px;
}

.items-empty {
    grid-column: 1 / -1;
    text-align: center;
    color: #666;
    padding: 40px;
}


/* ===== タブレット対応 (768px - 850px) ===== */
@media (max-width: 850px) and (min-width: 768px) {

    .item__tab,
    .item__content {
        padding: 20 40px;
    }

    .item__tab-list {
        padding: 10px 100px;
        gap: 30px;
    }

    .item__tab-item {
        font-size: 14px;
        padding: 0px 10px;
    }
}
