/* asset/css/mypage/mypage-index.css */

.mypage {
    width: 100%;
}

/* プロフィールエリア */
.mypage__profile {
    width: 1015px;
    margin: 0 auto;
    padding: 40px 60px;
    display: flex;
    align-items: center;
    gap: 30px;
}

.mypage__profile-avatar {
    flex-shrink: 0;
}

.mypage__profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid #ddd;
}

.mypage__profile-placeholder {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: #d9d9d9;
}

.mypage__username {
    font-size: 28px;
    font-weight: 600;
    margin: 0;
    padding-left: 40px;
    color: #000;
    flex-grow: 1;
    /* 残りのスペースを埋める */
}

.mypage__profile-edit {
    flex-shrink: 0;
    padding: 10px 24px;
    font-size: 14px;
    font-weight: 700;
    color: #ff6b6b;
    background-color: #ffffff;
    border: 2px solid #ff6b6b;
    border-radius: 6px;
    text-decoration: none;
    transition: all 0.3s ease;
}

.mypage__profile-edit:hover {
    background-color: #ff6b6b;
    color: #ffffff;
}

/* タブエリア */
.mypage__tab {
    max-width: 1540px;
    margin: 0 auto;
    padding: 24px 24px 0;
    border-bottom: 2px solid #737373;
}

.mypage__tab-list {
    display: flex;
    list-style: none;
    padding: 10px 100px;
    margin: 0;
    gap: 40px;
}

.mypage__tab-item {
    font-size: 18px;
    padding: 0px 20px;
    color: #666;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: color 0.2s, border-color 0.2s;
}

.mypage__tab-item a {
    text-decoration: none;
    color: inherit;
}

.mypage__tab-item:hover {
    color: #333;
}

.mypage__tab-item.is-active {
    color: #e74c3c;
}

/* コンテンツエリア */
.mypage__content {
    max-width: 1540px;
    margin: 0 auto;
    padding: 60px;
}

.items-empty {
    grid-column: 1 / -1;
    text-align: center;
    color: #666;
    padding: 40px;
}


/* ===== タブレット対応 (768px - 850px) ===== */
@media (max-width: 850px) and (min-width: 768px) {

    .mypage__profile {
        width: 90%;
        padding: 40px 60px;
        gap: 20px;
    }

    .mypage__profile-image,
    .mypage__profile-placeholder {
        width: 80px;
        height: 80px;
    }

    .mypage__username {
        font-size: 20px;
    }

    .mypage__profile-edit {
        padding: 8px 20px;
        font-size: 13px;
    }

    .mypage__tab,
    .mypage__content {
        padding: 10px 60px;
    }

    .mypage__tab-list {
        padding: 10px 20px;
        gap: 20px;
    }

    .mypage__tab-item {
        font-size: 16px;
        padding: 0px 10px;
    }
}

